<div class="container">
  <hello name="{{ name }}"></hello>
  <p appParallax [factor]="11">I'm slowly inverting.</p>
  <p appParallax [factor]="12">I'm doing it faster!</p>
  <p appParallax [factor]="13">Me even more.</p>
  <p appParallax [factor]="14">And I rock!</p>
</div>

<div class="container">
  <h1 appParallax [factor]="0.3">Hello Parallax</h1>

  <div id="linearScrollingText">I just scroll in linear speed</div>

  <div id="slowText" appParallax [factor]="9">I'm going faaaa... not.</div>
</div>